In [ ]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
import xlsxwriter

In [ ]:
col_names = ['Rating', 'G1','G2','G3','G4','G5','G6','G7','G8','G9','G10','G11','G12'
            ,'G13','G14','B1','B2','B3','B4','B5','G15','G16', 'Cost']

In [ ]:
hhc_by_state = pd.read_csv('data/Home_Health_Care_-_State_by_State_Data.csv', header=0, names= col_names)
hhc_by_state = hhc_by_state.drop(['B4'], axis=1)
hhc_by_state = hhc_by_state.drop(['B3'], axis=1)
hhc_by_state = hhc_by_state.drop(['G15'], axis=1)
hhc_by_state = hhc_by_state.drop(['Cost'], axis=1)
hhc_by_state = hhc_by_state.drop('GU')
hhc_by_state = hhc_by_state.drop('MP')
hhc_by_state = hhc_by_state.drop('VI')
hhc_by_state = hhc_by_state.drop('PR')
hhc_by_state.head(2)

In [ ]:
hhc_by_state.to_csv('hhc_state.csv')

In [ ]:
hhc = pd.read_csv('hhc_state.csv')

In [ ]:
bottom_states = pd.read_csv('data/Bottom5States.csv')
top_states = pd.read_csv('data/Top5States.csv')

In [ ]:
bottom_states.head(2)

In [ ]:
new = pd.read_csv('data/NewPatientSurvey.csv')

In [ ]:
new.head()

In [ ]:
subset1 = new[new['Percent of patients who reported that their home health team gave care in a professional way'] >= 100]

In [ ]:
subset2 = new[(new['Percent of patients who reported that their home health team gave care in a professional way'] >=90) 
              & (new['Percent of patients who reported that their home health team communicated well with them'] >= 90)
             & (new['Percent of patients who reported that their home health team discussed medicines, pain, and home safety with them'] >= 90)
             & (new['Percent of patients who gave their home health agency a rating of 9 or 10 on a scale from 0 (lowest) to 10 (highest)'] >=90)
             & (new['Percent of patients who reported YES, they would definitely recommend the home health agency to friends and family'] >=90)]

In [ ]:
subset2.to_csv('ninetypercentile.csv')

In [ ]:
subset2.head()

In [ ]:
value_counts = subset2['State'].value_counts(dropna=True, sort=True)
counts = value_counts.rename_axis('unique_values').to_frame('counts')
counts.to_csv('counts_ninety.csv')

In [ ]:
new.shape

In [ ]:
totals = new['State'].value_counts()

In [ ]:
totals = new['State'].value_counts(dropna=True, sort=True)
totals = totals.rename_axis('unique_values').to_frame('totals')
totals.to_csv('counts.csv')

In [ ]:
new.shape

In [ ]:
top_prov = pd.read_csv('data/Bottom100.csv')

In [ ]:
bottom_prov = pd.read_csv('data/Top100.csv')

In [ ]:
top_count = top_prov['State'].value_counts()

In [ ]:
bottom_count = bottom_prov['State'].value_counts()

In [18]:
top_count.head()

CA    15
NY    14
FL    14
TX     8
OH     6
Name: State, dtype: int64

In [20]:
top_count = top_count.to_frame()

In [22]:
bottom_count = bottom_count.to_frame()

In [25]:
top_count.to_csv('top_count.csv')

In [26]:
bottom_count.to_csv('bottom_count.csv')

In [28]:
house = pd.read_csv('data/household_median_income_2017.csv')

In [29]:
house.corr(method ='pearson')

                Score  Score Rank  Income Rank
Score        1.000000   -0.874449    -0.051956
Score Rank  -0.874449    1.000000    -0.081297
Income Rank -0.051956   -0.081297     1.000000

In [30]:
house.head()

  State Average Median Household Income   Score  Score Rank  Income Rank
0    AL                          51,113  1123.0          50           44
1    AK                          72,231  1311.5           1            9
2    AZ                          61,125  1294.1           9           23
3    AR                          48,829  1270.0          26           46
4    CA                          69,759  1266.1          29           13

In [36]:
house = house.drop(columns=['Score Rank','Income Rank'])

In [39]:
house.corr(method='spearman')

       Score
Score    1.0